<p>Project Label: <a href="https://gitlab.com/group_name/project_name/issues?label_name=label"><span class="badge color-label">label in <i>group_name/project_name</i></span></a></p>

<p>Project Label with Space: <a href="https://gitlab.com/group_name/project_name/issues?label_name=Some+label"><span class="badge color-label">Some label in <i>group_name/project_name</i></span></a></p>
